.box {
  position: absolute;
  top: 20px;
  left: 1200px;
  height: 500px;
  width: 400px;
  color: rgb(29, 29, 31);
  font-size: 17px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid black;
  padding: 30px;
  transition: 300ms ease-out;
  cursor: pointer;
  display: flex;
  flex-flow: column;
}
.box:hover {
  height: 510px;
  width: 410px;
  margin-top: -5px;
  margin-left: -5px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 18px 0px;
}
.box .tytle {
  color: rgb(110, 110, 115);
  font-size: 12px;
  font-weight: 600;
  height: 7%;
}
.box .description {
  font-size: 28px;
  font-weight: 600;
  height: 10%;
}
.box .content {
  height: 10%;
}
.box .pic {
  display: flex;
  height: 10%;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}
