.box {
  position: relative;
  height: 540px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 40px 0;
  flex-wrap: wrap;
  overflow: hidden;
}

.box .btn {
  position: absolute;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 32.5px;
  top: 42%;
  overflow: hidden;
  z-index: 1000;
  transition: all 300ms ease-out;
  cursor: pointer;
}
.box:hover .btn {
  opacity: 1;
  transition: all 1s ease-in-out;
}
.box .btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
.box .btn .btnLogo {
  font-size: 28px;
  font-weight: bold;
}
.left {
  left: 18px;
}
.right {
  right: 18px;
}
