.App {
  background-color: rgb(245, 245, 247);
  color: rgb(29, 29, 31);
  height: 100vh;
}
.App .header {
  display: flex;
  font-size: 17px;
  justify-content: start;
  margin: 0;
  margin-bottom: 14px;
  overflow: hidden;
  width: 980px;
  margin-left: max(22px, calc(50vw - 490px));
}
.App .header h2 {
  display: inline;
  margin: 0;
  padding-right: 10px;
  font-size: 28px;
  font-weight: 600;
  color: rgb(29, 29, 31);
  white-space: nowrap;
  /* border: 0.1rem solid black; */
}
.App .header span {
  font-size: 28px;
  font-weight: 600;
  color: rgb(110, 110, 115);
  white-space: nowrap;
}
